:root {
  --color-page-start: #b57bee;
  --color-page-end: #392d69;
  --color-surface: #e7e6ca;
  --color-text: #010101;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(
    to top,
    var(--color-page-start) 0%,
    var(--color-page-end) 100%
  );
}

body[data-menu='open'] {
  overflow: hidden;
}

main {
  flex-grow: 1;
}
